[
  {
    "name": "Example from README.md (GCC-like x86-64)",
    "compilation_cmd": "-I . -I src -D_POSIX_SOURCE -D_XOPEN_SOURCE=600",
    "compilation_database": [
      "compile_commands.json"
    ],
    "files": [
      "tests/readme_example.c",
      "tis/stub.c",
      "pdfgen.c"
    ],
    "machdep": "gcc_x86_64",
    "main": "main"
  },
  {
    "name": "Example from README.md (32-bit ARM little-endian)",
    "compilation_cmd": "-I . -I src -D_POSIX_SOURCE -D_XOPEN_SOURCE=600",
    "compilation_database": [
      "compile_commands.json"
    ],
    "files": [
      "tests/readme_example.c",
      "tis/stub.c",
      "pdfgen.c"
    ],
    "machdep": "arm_eabi",
    "main": "main"
  },
  {
    "name": "Testing 'tests/tis-fuzz-header.c' on afl-generated data1 (GCC-like x86-64)",
    "compilation_cmd": "-I . -I src -D_POSIX_SOURCE -D_XOPEN_SOURCE=600",
    "compilation_database": [
      "compile_commands.json"
    ],
    "filesystem": {
      "files": [
        {
          "name": "data.bin",
          "from": "data/fuzz/data1.bin"
        }
      ]
    },
    "files": [
      "tests/tis-fuzz-header.c",
      "tis/stub.c",
      "pdfgen.c"
    ],
    "machdep": "gcc_x86_64",
    "main": "main",
    "raw_options": {
      "-val-args": " data.bin"
    }
  },
  {
    "name": "Testing 'tests/tis-fuzz-header.c' on afl-generated data1 (32-bit ARM little-endian)",
    "compilation_cmd": "-I . -I src -D_POSIX_SOURCE -D_XOPEN_SOURCE=600",
    "compilation_database": [
      "compile_commands.json"
    ],
    "filesystem": {
      "files": [
        {
          "name": "data.bin",
          "from": "data/fuzz/data1.bin"
        }
      ]
    },
    "files": [
      "tests/tis-fuzz-header.c",
      "tis/stub.c",
      "pdfgen.c"
    ],
    "machdep": "arm_eabi",
    "main": "main",
    "raw_options": {
      "-val-args": " data.bin"
    }
  },
  {
    "name": "Testing 'tests/tis-fuzz-header.c' on afl-generated data2 (GCC-like x86-64)",
    "compilation_cmd": "-I . -I src -D_POSIX_SOURCE -D_XOPEN_SOURCE=600",
    "compilation_database": [
      "compile_commands.json"
    ],
    "filesystem": {
      "files": [
        {
          "name": "data.bin",
          "from": "data/fuzz/data2.bin"
        }
      ]
    },
    "files": [
      "tests/tis-fuzz-header.c",
      "tis/stub.c",
      "pdfgen.c"
    ],
    "machdep": "gcc_x86_64",
    "main": "main",
    "raw_options": {
      "-val-args": " data.bin"
    }
  },
  {
    "name": "Testing 'tests/tis-fuzz-header.c' on afl-generated data2 (32-bit ARM little-endian)",
    "compilation_cmd": "-I . -I src -D_POSIX_SOURCE -D_XOPEN_SOURCE=600",
    "compilation_database": [
      "compile_commands.json"
    ],
    "filesystem": {
      "files": [
        {
          "name": "data.bin",
          "from": "data/fuzz/data2.bin"
        }
      ]
    },
    "files": [
      "tests/tis-fuzz-header.c",
      "tis/stub.c",
      "pdfgen.c"
    ],
    "machdep": "arm_eabi",
    "main": "main",
    "raw_options": {
      "-val-args": " data.bin"
    }
  },
  {
    "name": "Testing 'tests/tis-fuzz-header.c' on afl-generated data3 (GCC-like x86-64)",
    "compilation_cmd": "-I . -I src -D_POSIX_SOURCE -D_XOPEN_SOURCE=600",
    "compilation_database": [
      "compile_commands.json"
    ],
    "filesystem": {
      "files": [
        {
          "name": "data.bin",
          "from": "data/fuzz/data3.bin"
        }
      ]
    },
    "files": [
      "tests/tis-fuzz-header.c",
      "tis/stub.c",
      "pdfgen.c"
    ],
    "machdep": "gcc_x86_64",
    "main": "main",
    "raw_options": {
      "-val-args": " data.bin"
    }
  },
  {
    "name": "Testing 'tests/tis-fuzz-header.c' on afl-generated data3 (32-bit ARM little-endian)",
    "compilation_cmd": "-I . -I src -D_POSIX_SOURCE -D_XOPEN_SOURCE=600",
    "compilation_database": [
      "compile_commands.json"
    ],
    "filesystem": {
      "files": [
        {
          "name": "data.bin",
          "from": "data/fuzz/data3.bin"
        }
      ]
    },
    "files": [
      "tests/tis-fuzz-header.c",
      "tis/stub.c",
      "pdfgen.c"
    ],
    "machdep": "arm_eabi",
    "main": "main",
    "raw_options": {
      "-val-args": " data.bin"
    }
  },
  {
    "name": "Testing 'tests/tis-fuzz-header.c' on afl-generated data4 (GCC-like x86-64)",
    "compilation_cmd": "-I . -I src -D_POSIX_SOURCE -D_XOPEN_SOURCE=600",
    "compilation_database": [
      "compile_commands.json"
    ],
    "filesystem": {
      "files": [
        {
          "name": "data.bin",
          "from": "data/fuzz/data4.bin"
        }
      ]
    },
    "files": [
      "tests/tis-fuzz-header.c",
      "tis/stub.c",
      "pdfgen.c"
    ],
    "machdep": "gcc_x86_64",
    "main": "main",
    "raw_options": {
      "-val-args": " data.bin"
    }
  },
  {
    "name": "Testing 'tests/tis-fuzz-header.c' on afl-generated data4 (32-bit ARM little-endian)",
    "compilation_cmd": "-I . -I src -D_POSIX_SOURCE -D_XOPEN_SOURCE=600",
    "compilation_database": [
      "compile_commands.json"
    ],
    "filesystem": {
      "files": [
        {
          "name": "data.bin",
          "from": "data/fuzz/data4.bin"
        }
      ]
    },
    "files": [
      "tests/tis-fuzz-header.c",
      "tis/stub.c",
      "pdfgen.c"
    ],
    "machdep": "arm_eabi",
    "main": "main",
    "raw_options": {
      "-val-args": " data.bin"
    }
  },
  {
    "name": "Testing 'tests/tis-fuzz-header.c' on afl-generated data5 (GCC-like x86-64)",
    "compilation_cmd": "-I . -I src -D_POSIX_SOURCE -D_XOPEN_SOURCE=600",
    "compilation_database": [
      "compile_commands.json"
    ],
    "filesystem": {
      "files": [
        {
          "name": "data.bin",
          "from": "data/fuzz/data5.bin"
        }
      ]
    },
    "files": [
      "tests/tis-fuzz-header.c",
      "tis/stub.c",
      "pdfgen.c"
    ],
    "machdep": "gcc_x86_64",
    "main": "main",
    "raw_options": {
      "-val-args": " data.bin"
    }
  },
  {
    "name": "Testing 'tests/tis-fuzz-header.c' on afl-generated data5 (32-bit ARM little-endian)",
    "compilation_cmd": "-I . -I src -D_POSIX_SOURCE -D_XOPEN_SOURCE=600",
    "compilation_database": [
      "compile_commands.json"
    ],
    "filesystem": {
      "files": [
        {
          "name": "data.bin",
          "from": "data/fuzz/data5.bin"
        }
      ]
    },
    "files": [
      "tests/tis-fuzz-header.c",
      "tis/stub.c",
      "pdfgen.c"
    ],
    "machdep": "arm_eabi",
    "main": "main",
    "raw_options": {
      "-val-args": " data.bin"
    }
  },
  {
    "name": "Testing 'tests/tis-fuzz-header.c' on afl-generated data6 (GCC-like x86-64)",
    "compilation_cmd": "-I . -I src -D_POSIX_SOURCE -D_XOPEN_SOURCE=600",
    "compilation_database": [
      "compile_commands.json"
    ],
    "filesystem": {
      "files": [
        {
          "name": "data.bin",
          "from": "data/fuzz/data6.bin"
        }
      ]
    },
    "files": [
      "tests/tis-fuzz-header.c",
      "tis/stub.c",
      "pdfgen.c"
    ],
    "machdep": "gcc_x86_64",
    "main": "main",
    "raw_options": {
      "-val-args": " data.bin"
    }
  },
  {
    "name": "Testing 'tests/tis-fuzz-header.c' on afl-generated data6 (32-bit ARM little-endian)",
    "compilation_cmd": "-I . -I src -D_POSIX_SOURCE -D_XOPEN_SOURCE=600",
    "compilation_database": [
      "compile_commands.json"
    ],
    "filesystem": {
      "files": [
        {
          "name": "data.bin",
          "from": "data/fuzz/data6.bin"
        }
      ]
    },
    "files": [
      "tests/tis-fuzz-header.c",
      "tis/stub.c",
      "pdfgen.c"
    ],
    "machdep": "arm_eabi",
    "main": "main",
    "raw_options": {
      "-val-args": " data.bin"
    }
  },
  {
    "name": "Testing 'tests/tis-fuzz-header.c' on afl-generated data7 (GCC-like x86-64)",
    "compilation_cmd": "-I . -I src -D_POSIX_SOURCE -D_XOPEN_SOURCE=600",
    "compilation_database": [
      "compile_commands.json"
    ],
    "filesystem": {
      "files": [
        {
          "name": "data.bin",
          "from": "data/fuzz/data7.bin"
        }
      ]
    },
    "files": [
      "tests/tis-fuzz-header.c",
      "tis/stub.c",
      "pdfgen.c"
    ],
    "machdep": "gcc_x86_64",
    "main": "main",
    "raw_options": {
      "-val-args": " data.bin"
    }
  },
  {
    "name": "Testing 'tests/tis-fuzz-header.c' on afl-generated data7 (32-bit ARM little-endian)",
    "compilation_cmd": "-I . -I src -D_POSIX_SOURCE -D_XOPEN_SOURCE=600",
    "compilation_database": [
      "compile_commands.json"
    ],
    "filesystem": {
      "files": [
        {
          "name": "data.bin",
          "from": "data/fuzz/data7.bin"
        }
      ]
    },
    "files": [
      "tests/tis-fuzz-header.c",
      "tis/stub.c",
      "pdfgen.c"
    ],
    "machdep": "arm_eabi",
    "main": "main",
    "raw_options": {
      "-val-args": " data.bin"
    }
  },
  {
    "name": "First test from 'tests/main.c' (GCC-like x86-64)",
    "compilation_cmd": "-I src -D_POSIX_SOURCE -D_XOPEN_SOURCE=600",
    "compilation_database": [
      "compile_commands.json"
    ],
    "filesystem": {
      "files": [
        {
          "name": "data/grey.jpg",
          "from": "data/grey.jpg"
        },
        {
          "name": "data/teapot.ppm",
          "from": "data/teapot.ppm"
        },
        {
          "name": "data/penguin.jpg",
          "from": "data/penguin.jpg"
        }
      ]
    },
    "files": [
      "tests/main.c",
      "tis/stub.c",
      "pdfgen.c",
      "tests/penguin.c"
    ],
    "machdep": "arm_eabi",
    "main": "main"
  },
  {
    "name": "First test from 'tests/main.c' (32-bit ARM little-endian)",
    "compilation_cmd": "-I src -D_POSIX_SOURCE -D_XOPEN_SOURCE=600",
    "compilation_database": [
      "compile_commands.json"
    ],
    "filesystem": {
      "files": [
        {
          "name": "data/grey.jpg",
          "from": "data/grey.jpg"
        },
        {
          "name": "data/teapot.ppm",
          "from": "data/teapot.ppm"
        },
        {
          "name": "data/penguin.jpg",
          "from": "data/penguin.jpg"
        }
      ]
    },
    "files": [
      "tests/main.c",
      "tis/stub.c",
      "pdfgen.c",
      "tests/penguin.c"
    ],
    "machdep": "arm_eabi",
    "main": "main"
  }
]
